<ul class="projects">
	{% for project in projects %}
		<li class="project-list-item">
		<a href="{{ path('sick_lists_show_project', {'id': project.id}) }}">{{ project.text }}</a>
		</li>
	{% endfor %}
</ul>
{{ form(form, {'action': path('sick_lists_postproject')}) }}
