html
{
	font: 1em/1.25 "Open Sans",sans-serif;
}
body
{
	background-color: #F2F2F2;
	margin-top: 0px;
	color: #333333;
	padding: 0 0 0 30px !important;
	font-size: 80%;
}

a, input, select, textarea 
{
	margin: 0;
	padding: 0;
	font: normal normal normal 1em/1.25 "Open Sans",sans-serif;
}

a, a:link, a:visited, a:active, a:hover 
{
	 text-decoration: none;
	 color: inherit;
}

#wrapper
{
	margin-left: 150px;
	max-width: 950px;
}

#left-menu:hover
{
	overflow-y: auto;
}
#left-menu
{
	float: left;
	padding-left: 20px;
	position: fixed;
	width: 250px;
	overflow: hidden;
}

#left-list-holder
{
	width: 230px;
}

#left-list-holder > footer
{
	padding: 20px 0 7px;
	margin-left: 2px;
}

#left-list-holder > footer a:hover
{
	text-decoration: underline !important;
}

#left-list-holder > footer a
{
	color: #9900ff;
	padding: 2px;
}

.plus-red
{
	margin-left:2px;
	margin-right:6px;
	margin-top:-2px;
}

.cancel:hover
{
	text-decoration: underline !important;
}

.cancel
{
	color: #555 !important;
	font-size: 0.8em;
	padding: 2px 5px;
}

#content
{
	background-color: #FFFFFF;
	margin-left: 265px;
	min-height: 650px;
	padding: 0 20px;
}

/* content styling */

#content header
{
	border-bottom: 1px solid #BDBDBD;
	height: 31px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

#content header label
{
	padding: 4px 0px;
	float: left;
}
#content header input
{
	float: right;
	font: 16px arial,sans-serif;
	height: auto;
	border: 1px solid #f2f2f2;
	border-radius: 0px;
	padding: 4px 7px;
	width: 90%;
}

#content article
{
	padding: 0 25px;
}

/* list styling */
.items
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.task-item
{
	border-bottom: 1px solid #EEE;
	padding-top:9px;
	padding-bottom:9px;
}

#left-menu h1
{
	font-family: 'Reenie Beanie', cursive;
	font-weight: normal;
	font-style: normal;
	font-size: 50px;
	margin-top: 5px;
}

#left-menu .projects
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.project-list-item
{
	padding: 7px 5px;
	text-align: left;
}

.project-list-item img
{
	margin-left:2px;
	margin-right:6px;
	padding-bottom:5px;
	float:left;
}

.clickable
{
	cursor: pointer;
}

li.current
{
	background: none repeat scroll 0 0 #fff;
}

li.current a
{
	color: purple;
	line-height: 17px;
}

#left-list-holder > header
{
	color: #737373;
	border-bottom: 2px solid #aaa;
	display: inline-block;
	margin-bottom: 15px;
}

#add-project
{
	margin-top: 5px;
}

#add-project form
{
	display: none;
}

#add-project input
{
	border: 1px solid #f2f2f2;
	border-radius: 0;
	height: auto;
	width: 90%;
	float: left;
	padding: 7px 5px;
	display: block;
}

.add-project-button,
.add-project-button:visited
{
	padding:7px 5px;
	margin-top: 5px;
	margin-right: 7px;
	border: 1px solid transparent;
	color: white !important;
	background: none repeat scroll 0 center #cc66cc;
}

